.center-content{
  margin-left: auto;
  margin-right: auto;

}

.iframe-block {
  width: 1120px;
  height: 630px;
  background-color: darkred;
  margin-left: auto;
  margin-right: auto;
}

.tabs_icon{
  font-size: 20px;
  float: left;
  line-height: 48px;
  margin: 0 -20px 0 0;
}

.preview-photo{
  transform: scale(1.2);
}

.preview-screenshot{
  transform: scale(1.5);
}

.preview-screenshot-container{
  width: 200px;
  height: 136px;
}

.panel-comment-screenshot{
  overflow-y: scroll;
  overflow-x: hidden;
  width: auto;
  height: 81%;
  position: absolute;
  top: 0px;
  margin-top: 26px;
}



.divTable{
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  display: table-header-group;
}
.divTableCell, .divTableHead {
/*  border: 1px solid #999999; */
  display: table-cell;
  padding: 3px 16px;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
