.center-content{
  margin-left: auto;
  margin-right: auto;

}

.iframe-block {
  width: 1120px;
  height: 630px;
  background-color: darkred;
  margin-left: auto;
  margin-right: auto;
}

.tabs_icon{
  font-size: 20px;
  float: left;
  line-height: 48px;
  margin: 0 -20px 0 0;
}

.preview-photo{
  transform: scale(1.2);
}

.preview-screenshot{
  transform: scale(1.5);
}

.preview-screenshot-container{
  width: 200px;
  height: 136px;
}

.panel-comment-screenshot{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 300px;
  height: 81%;
  position: absolute;
  top: 0px;
  margin-top: 26px;
}
