
.logo_frezerlab{
  width: 200px;
  height: 60px;
  margin-left: 12px;
}

.language-picker{
  width: 30px;
}

.bg-color-anim{
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.clr-btn{
  margin-bottom: 10px;
}

.inset-shadow{
  box-shadow: inset 0px 3px 3px rgba(0,0,0,0.3)
}

.bg-title-card{
  padding-left: 12px;
  padding-right: 12px;
  border-top-right-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
}
