.rank-icon{
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  float: left;
}

.rank-mini{
  width: 20px;
  height: 18px;
  display: block;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 1));
  margin-bottom: 16px;
  transform: scale(1.4);
}
.rank-large{
  transform: rotateZ(90deg);
  display: block;
  width: 68px;
  height: 64px;

  margin-left: auto;
  margin-right: auto;
  float: initial;
}

.unranked{
  filter: grayscale(100%);
  margin-bottom: 40%;
}

.rank_name{
  font-size: 0.85em;
  display: inline;
  margin-bottom: 10px;
}


/* rank mini */
.rank_1 {
  background-image: url('../img/ranks/mini_1.png');
}

.rank_2 {
  background-image: url('../img/ranks/mini_2.png');
}

.rank_3 {
  background-image: url('../img/ranks/mini_3.png');
}

.rank_4 {
  background-image: url('../img/ranks/mini_4.png');
}

.rank_5 {
  background-image: url('../img/ranks/mini_5.png');
}

.rank_6 {
  background-image: url('../img/ranks/mini_6.png');
}

.rank_7 {
  background-image: url('../img/ranks/mini_7.png');
}

.rank_8 {
  background-image: url('../img/ranks/mini_8.png');
}

.rank_9 {
  background-image: url('../img/ranks/mini_9.png');
}

.rank_10 {
  background-image: url('../img/ranks/mini_10.png');
}

.rank_11 {
  background-image: url('../img/ranks/mini_11.png');
}

.rank_12 {
  background-image: url('../img/ranks/mini_12.png');
}

.rank_13 {
  background-image: url('../img/ranks/mini_13.png');
}

.rank_14 {
  background-image: url('../img/ranks/mini_14.png');
}

.rank_15 {
  background-image: url('../img/ranks/mini_15.png');
}

.rank_16 {
  background-image: url('../img/ranks/mini_16.png');
}

.rank_17 {
  background-image: url('../img/ranks/mini_17.png');
}

.rank_18 {
  background-image: url('../img/ranks/mini_18.png');
}

.rank_19 {
  background-image: url('../img/ranks/mini_19.png');
}

.rank_20 {
  background-image: url('../img/ranks/mini_20.png');
}

.rank_21 {
  background-image: url('../img/ranks/mini_21.png');
}

.rank_22 {
  background-image: url('../img/ranks/mini_22.png');
}

.rank_23 {
  background-image: url('../img/ranks/mini_23.png');
}

.rank_24 {
  background-image: url('../img/ranks/mini_24.png');
}

.rank_25 {
  background-image: url('../img/ranks/mini_25.png');
}

.rank_26 {
  background-image: url('../img/ranks/mini_26.png');
}

.rank_27 {
  background-image: url('../img/ranks/mini_27.png');
}

.rank_28 {
  background-image: url('../img/ranks/mini_28.png');
}

.rank_29 {
  background-image: url('../img/ranks/mini_29.png');
}

.rank_30 {
  background-image: url('../img/ranks/mini_30.png');
}

.rank_31 {
  background-image: url('../img/ranks/mini_31.png');
}
/* premium rank mini */
.premium_true.rank_17 {
  background-image: url('../img/ranks_premium/17.png');
}

.premium_true.rank_18 {
  background-image: url('../img/ranks_premium/18.png');
}

.premium_true.rank_19 {
  background-image: url('../img/ranks_premium/19.png');
}

.premium_true.rank_20 {
  background-image: url('../img/ranks_premium/20.png');
}

.premium_true.rank_21 {
  background-image: url('../img/ranks_premium/21.png');
}

.premium_true.rank_22 {
  background-image: url('../img/ranks_premium/22.png');
}

.premium_true.rank_23 {
  background-image: url('../img/ranks_premium/23.png');
}

.premium_true.rank_24 {
  background-image: url('../img/ranks_premium/24.png');
}

.premium_true.rank_25 {
  background-image: url('../img/ranks_premium/25.png');
}

.premium_true.rank_26 {
  background-image: url('../img/ranks_premium/26.png');
}

.premium_true.rank_27 {
  background-image: url('../img/ranks_premium/27.png');
}

.premium_true.rank_28 {
  background-image: url('../img/ranks_premium/28.png');
}

.premium_true.rank_29 {
  background-image: url('../img/ranks_premium/29.png');
}

.premium_true.rank_30 {
  background-image: url('../img/ranks_premium/30.png');
}

.premium_true.rank_31 {
  background-image: url('../img/ranks_premium/31.png');
}

/* rank large */
.rank_1-large {
  background-image: url('../img/ranks/large/1.png');
}

.rank_2-large {
  background-image: url('../img/ranks/large/2.png');
}

.rank_3-large {
  background-image: url('../img/ranks/large/3.png');
}

.rank_4-large {
  background-image: url('../img/ranks/large/4.png');
}

.rank_5-large {
  background-image: url('../img/ranks/large/5.png');
}

.rank_6-large {
  background-image: url('../img/ranks/large/6.png');
}

.rank_7-large {
  background-image: url('../img/ranks/large/7.png');
}

.rank_8-large {
  background-image: url('../img/ranks/large/8.png');
}

.rank_9-large {
  background-image: url('../img/ranks/large/9.png');
}

.rank_10-large {
  background-image: url('../img/ranks/large/10.png');
}

.rank_11-large {
  background-image: url('../img/ranks/large/11.png');
}

.rank_12-large {
  background-image: url('../img/ranks/large/12.png');
}

.rank_13-large {
  background-image: url('../img/ranks/large/13.png');
}

.rank_14-large {
  background-image: url('../img/ranks/large/14.png');
}

.rank_15-large {
  background-image: url('../img/ranks/large/15.png');
}

.rank_16-large {
  background-image: url('../img/ranks/large/16.png');
}

.rank_17-large {
  background-image: url('../img/ranks/large/17.png');
}

.rank_18-large {
  background-image: url('../img/ranks/large/18.png');
}

.rank_19-large {
  background-image: url('../img/ranks/large/19.png');
}

.rank_20-large {
  background-image: url('../img/ranks/large/20.png');
}

.rank_21-large {
  background-image: url('../img/ranks/large/21.png');
}

.rank_22-large {
  background-image: url('../img/ranks/large/22.png');
}

.rank_23-large {
  background-image: url('../img/ranks/large/23.png');
}

.rank_24-large {
  background-image: url('../img/ranks/large/24.png');
}

.rank_25-large {
  background-image: url('../img/ranks/large/25.png');
}

.rank_26-large {
  background-image: url('../img/ranks/large/26.png');
}

.rank_27-large {
  background-image: url('../img/ranks/large/27.png');
}

.rank_28-large {
  background-image: url('../img/ranks/large/28.png');
}

.rank_29-large {
  background-image: url('../img/ranks/large/29.png');
}

.rank_30-large {
  background-image: url('../img/ranks/large/30.png');
}

.rank_31-large {
  background-image: url('../img/ranks/large/31.png');
}
