.blue.lighten-3 {
  background-color: #90caf9!important
}

.grey.darken-2 {
  background-color: #616161!important
}

.grey-text.text-darken-2 {
  color: #616161!important
}

.black {
  background-color: #000!important
}

.black-text {
  color: #000!important
}

.white {
  background-color: #fff!important
}

.white-text {
  color: #fff!important
}

[hidden] {
  display: none
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*,*:before,*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none
}

ul:not(.browser-default)>li {
  list-style-type: none
}

a {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent
}

.z-depth-0 {
  -webkit-box-shadow: none!important;
  box-shadow: none!important
}

.z-depth-1,nav,.card-panel,.card,.toast,.btn,.btn-large,.btn-small,.btn-floating,.collapsible,.sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)
}

.z-depth-1-half,.btn:hover,.btn-large:hover,.btn-small:hover,.btn-floating:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2)
}

.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3)
}

.z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2)
}

.z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2)
}

.z-depth-5,.modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2)
}

.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s,-webkit-box-shadow .25s
}

.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0
}

ul.staggered-list li {
  opacity: 0
}

.fade-in {
  opacity: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%
}

@media only screen and (max-width:600px) {
  .hide-on-small-only,.hide-on-small-and-down {
    display: none!important
  }
}

@media only screen and (max-width:992px) {
  .hide-on-med-and-down {
    display: none!important
  }
}

@media only screen and (min-width:601px) {
  .hide-on-med-and-up {
    display: none!important
  }
}

@media only screen and (min-width:600px) and (max-width:992px) {
  .hide-on-med-only {
    display: none!important
  }
}

@media only screen and (min-width:993px) {
  .hide-on-large-only {
    display: none!important
  }
}

@media only screen and (min-width:1201px) {
  .hide-on-extra-large-only {
    display: none!important
  }
}

@media only screen and (min-width:1201px) {
  .show-on-extra-large {
    display: block!important
  }
}

@media only screen and (min-width:993px) {
  .show-on-large {
    display: block!important
  }
}

@media only screen and (min-width:600px) and (max-width:992px) {
  .show-on-medium {
    display: block!important
  }
}

@media only screen and (max-width:600px) {
  .show-on-small {
    display: block!important
  }
}

@media only screen and (min-width:601px) {
  .show-on-medium-and-up {
    display: block!important
  }
}

@media only screen and (max-width:992px) {
  .show-on-medium-and-down {
    display: block!important
  }
}

@media only screen and (max-width:600px) {
  .center-on-small-only {
    text-align: center
  }
}

.collection {
  margin: .5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative
}

.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0
}

.collection .collection-item.avatar {
  min-height: 84px;
  padding-left: 72px;
  position: relative
}

.collection .collection-item.avatar:not(.circle-clipper)>.circle,.collection .collection-item.avatar :not(.circle-clipper)>.circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle
}

.collection .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center
}

.collection .collection-item.avatar .title {
  font-size: 16px
}

.collection .collection-item.avatar p {
  margin: 0
}

.collection .collection-item.avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px
}

.collection .collection-item:last-child {
  border-bottom: 0
}

.collection .collection-item.active {
  background-color: #26a69a;
  color: #eafaf9
}

.collection .collection-item.active .secondary-content {
  color: #fff
}

.collection a.collection-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #26a69a
}

.collection a.collection-item:not(.active):hover {
  background-color: #ddd
}

.collection.with-header .collection-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px
}

.collection.with-header .collection-item {
  padding-left: 30px
}

.collection.with-header .collection-item.avatar {
  padding-left: 72px
}

.secondary-content {
  float: right;
  color: #26a69a
}

.collapsible .collection {
  margin: 0;
  border: 0
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%
  }

  60% {
    left: 100%;
    right: -90%
  }

  100% {
    left: 100%;
    right: -90%
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%
  }

  60% {
    left: 100%;
    right: -90%
  }

  100% {
    left: 100%;
    right: -90%
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%
  }

  60% {
    left: 107%;
    right: -8%
  }

  100% {
    left: 107%;
    right: -8%
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%
  }

  60% {
    left: 107%;
    right: -8%
  }

  100% {
    left: 107%;
    right: -8%
  }
}

.hide {
  display: none!important
}

.left-align {
  text-align: left
}

.right-align {
  text-align: right
}

.center,.center-align {
  text-align: center
}

.left {
  float: left!important
}

.right {
  float: right!important
}

.no-select,input[type=range],input[type=range]+.thumb {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.circle {
  border-radius: 50%
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.no-padding {
  padding: 0!important
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga'
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%
}

@media only screen and (min-width:601px) {
  .container {
    width: 85%
  }
}

@media only screen and (min-width:993px) {
  .container {
    width: 70%
  }
}

.col .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.section.no-pad {
  padding: 0
}

.section.no-pad-bot {
  padding-bottom: 0
}

.section.no-pad-top {
  padding-top: 0
}

.row {
  margin-left: auto;
  margin-right: auto
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .75rem;
  min-height: 1px
}

.row .col[class*="push-"],.row .col[class*="pull-"] {
  position: relative
}

.row .col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.offset-s1 {
  margin-left: 8.3333333333%
}

.row .col.pull-s1 {
  right: 8.3333333333%
}

.row .col.push-s1 {
  left: 8.3333333333%
}

.row .col.offset-s2 {
  margin-left: 16.6666666667%
}

.row .col.pull-s2 {
  right: 16.6666666667%
}

.row .col.push-s2 {
  left: 16.6666666667%
}

.row .col.offset-s3 {
  margin-left: 25%
}

.row .col.pull-s3 {
  right: 25%
}

.row .col.push-s3 {
  left: 25%
}

.row .col.offset-s4 {
  margin-left: 33.3333333333%
}

.row .col.pull-s4 {
  right: 33.3333333333%
}

.row .col.push-s4 {
  left: 33.3333333333%
}

.row .col.offset-s5 {
  margin-left: 41.6666666667%
}

.row .col.pull-s5 {
  right: 41.6666666667%
}

.row .col.push-s5 {
  left: 41.6666666667%
}

.row .col.offset-s6 {
  margin-left: 50%
}

.row .col.pull-s6 {
  right: 50%
}

.row .col.push-s6 {
  left: 50%
}

.row .col.offset-s7 {
  margin-left: 58.3333333333%
}

.row .col.pull-s7 {
  right: 58.3333333333%
}

.row .col.push-s7 {
  left: 58.3333333333%
}

.row .col.offset-s8 {
  margin-left: 66.6666666667%
}

.row .col.pull-s8 {
  right: 66.6666666667%
}

.row .col.push-s8 {
  left: 66.6666666667%
}

.row .col.offset-s9 {
  margin-left: 75%
}

.row .col.pull-s9 {
  right: 75%
}

.row .col.push-s9 {
  left: 75%
}

.row .col.offset-s10 {
  margin-left: 83.3333333333%
}

.row .col.pull-s10 {
  right: 83.3333333333%
}

.row .col.push-s10 {
  left: 83.3333333333%
}

.row .col.offset-s11 {
  margin-left: 91.6666666667%
}

.row .col.pull-s11 {
  right: 91.6666666667%
}

.row .col.push-s11 {
  left: 91.6666666667%
}

.row .col.offset-s12 {
  margin-left: 100%
}

.row .col.pull-s12 {
  right: 100%
}

.row .col.push-s12 {
  left: 100%
}

@media only screen and (min-width:601px) {
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.offset-m1 {
    margin-left: 8.3333333333%
  }

  .row .col.pull-m1 {
    right: 8.3333333333%
  }

  .row .col.push-m1 {
    left: 8.3333333333%
  }

  .row .col.offset-m2 {
    margin-left: 16.6666666667%
  }

  .row .col.pull-m2 {
    right: 16.6666666667%
  }

  .row .col.push-m2 {
    left: 16.6666666667%
  }

  .row .col.offset-m3 {
    margin-left: 25%
  }

  .row .col.pull-m3 {
    right: 25%
  }

  .row .col.push-m3 {
    left: 25%
  }

  .row .col.offset-m4 {
    margin-left: 33.3333333333%
  }

  .row .col.pull-m4 {
    right: 33.3333333333%
  }

  .row .col.push-m4 {
    left: 33.3333333333%
  }

  .row .col.offset-m5 {
    margin-left: 41.6666666667%
  }

  .row .col.pull-m5 {
    right: 41.6666666667%
  }

  .row .col.push-m5 {
    left: 41.6666666667%
  }

  .row .col.offset-m6 {
    margin-left: 50%
  }

  .row .col.pull-m6 {
    right: 50%
  }

  .row .col.push-m6 {
    left: 50%
  }

  .row .col.offset-m7 {
    margin-left: 58.3333333333%
  }

  .row .col.pull-m7 {
    right: 58.3333333333%
  }

  .row .col.push-m7 {
    left: 58.3333333333%
  }

  .row .col.offset-m8 {
    margin-left: 66.6666666667%
  }

  .row .col.pull-m8 {
    right: 66.6666666667%
  }

  .row .col.push-m8 {
    left: 66.6666666667%
  }

  .row .col.offset-m9 {
    margin-left: 75%
  }

  .row .col.pull-m9 {
    right: 75%
  }

  .row .col.push-m9 {
    left: 75%
  }

  .row .col.offset-m10 {
    margin-left: 83.3333333333%
  }

  .row .col.pull-m10 {
    right: 83.3333333333%
  }

  .row .col.push-m10 {
    left: 83.3333333333%
  }

  .row .col.offset-m11 {
    margin-left: 91.6666666667%
  }

  .row .col.pull-m11 {
    right: 91.6666666667%
  }

  .row .col.push-m11 {
    left: 91.6666666667%
  }

  .row .col.offset-m12 {
    margin-left: 100%
  }

  .row .col.pull-m12 {
    right: 100%
  }

  .row .col.push-m12 {
    left: 100%
  }
}

@media only screen and (min-width:993px) {
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.offset-l1 {
    margin-left: 8.3333333333%
  }

  .row .col.pull-l1 {
    right: 8.3333333333%
  }

  .row .col.push-l1 {
    left: 8.3333333333%
  }

  .row .col.offset-l2 {
    margin-left: 16.6666666667%
  }

  .row .col.pull-l2 {
    right: 16.6666666667%
  }

  .row .col.push-l2 {
    left: 16.6666666667%
  }

  .row .col.offset-l3 {
    margin-left: 25%
  }

  .row .col.pull-l3 {
    right: 25%
  }

  .row .col.push-l3 {
    left: 25%
  }

  .row .col.offset-l4 {
    margin-left: 33.3333333333%
  }

  .row .col.pull-l4 {
    right: 33.3333333333%
  }

  .row .col.push-l4 {
    left: 33.3333333333%
  }

  .row .col.offset-l5 {
    margin-left: 41.6666666667%
  }

  .row .col.pull-l5 {
    right: 41.6666666667%
  }

  .row .col.push-l5 {
    left: 41.6666666667%
  }

  .row .col.offset-l6 {
    margin-left: 50%
  }

  .row .col.pull-l6 {
    right: 50%
  }

  .row .col.push-l6 {
    left: 50%
  }

  .row .col.offset-l7 {
    margin-left: 58.3333333333%
  }

  .row .col.pull-l7 {
    right: 58.3333333333%
  }

  .row .col.push-l7 {
    left: 58.3333333333%
  }

  .row .col.offset-l8 {
    margin-left: 66.6666666667%
  }

  .row .col.pull-l8 {
    right: 66.6666666667%
  }

  .row .col.push-l8 {
    left: 66.6666666667%
  }

  .row .col.offset-l9 {
    margin-left: 75%
  }

  .row .col.pull-l9 {
    right: 75%
  }

  .row .col.push-l9 {
    left: 75%
  }

  .row .col.offset-l10 {
    margin-left: 83.3333333333%
  }

  .row .col.pull-l10 {
    right: 83.3333333333%
  }

  .row .col.push-l10 {
    left: 83.3333333333%
  }

  .row .col.offset-l11 {
    margin-left: 91.6666666667%
  }

  .row .col.pull-l11 {
    right: 91.6666666667%
  }

  .row .col.push-l11 {
    left: 91.6666666667%
  }

  .row .col.offset-l12 {
    margin-left: 100%
  }

  .row .col.pull-l12 {
    right: 100%
  }

  .row .col.push-l12 {
    left: 100%
  }
}

@media only screen and (min-width:1201px) {
  .row .col.xl1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.offset-xl1 {
    margin-left: 8.3333333333%
  }

  .row .col.pull-xl1 {
    right: 8.3333333333%
  }

  .row .col.push-xl1 {
    left: 8.3333333333%
  }

  .row .col.offset-xl2 {
    margin-left: 16.6666666667%
  }

  .row .col.pull-xl2 {
    right: 16.6666666667%
  }

  .row .col.push-xl2 {
    left: 16.6666666667%
  }

  .row .col.offset-xl3 {
    margin-left: 25%
  }

  .row .col.pull-xl3 {
    right: 25%
  }

  .row .col.push-xl3 {
    left: 25%
  }

  .row .col.offset-xl4 {
    margin-left: 33.3333333333%
  }

  .row .col.pull-xl4 {
    right: 33.3333333333%
  }

  .row .col.push-xl4 {
    left: 33.3333333333%
  }

  .row .col.offset-xl5 {
    margin-left: 41.6666666667%
  }

  .row .col.pull-xl5 {
    right: 41.6666666667%
  }

  .row .col.push-xl5 {
    left: 41.6666666667%
  }

  .row .col.offset-xl6 {
    margin-left: 50%
  }

  .row .col.pull-xl6 {
    right: 50%
  }

  .row .col.push-xl6 {
    left: 50%
  }

  .row .col.offset-xl7 {
    margin-left: 58.3333333333%
  }

  .row .col.pull-xl7 {
    right: 58.3333333333%
  }

  .row .col.push-xl7 {
    left: 58.3333333333%
  }

  .row .col.offset-xl8 {
    margin-left: 66.6666666667%
  }

  .row .col.pull-xl8 {
    right: 66.6666666667%
  }

  .row .col.push-xl8 {
    left: 66.6666666667%
  }

  .row .col.offset-xl9 {
    margin-left: 75%
  }

  .row .col.pull-xl9 {
    right: 75%
  }

  .row .col.push-xl9 {
    left: 75%
  }

  .row .col.offset-xl10 {
    margin-left: 83.3333333333%
  }

  .row .col.pull-xl10 {
    right: 83.3333333333%
  }

  .row .col.push-xl10 {
    left: 83.3333333333%
  }

  .row .col.offset-xl11 {
    margin-left: 91.6666666667%
  }

  .row .col.pull-xl11 {
    right: 91.6666666667%
  }

  .row .col.push-xl11 {
    left: 91.6666666667%
  }

  .row .col.offset-xl12 {
    margin-left: 100%
  }

  .row .col.pull-xl12 {
    right: 100%
  }

  .row .col.push-xl12 {
    left: 100%
  }
}

a {
  text-decoration: none
}

html {
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87)
}

@media only screen and (min-width:0) {
  html {
    font-size: 14px
  }
}

@media only screen and (min-width:992px) {
  html {
    font-size: 14.5px
  }
}

@media only screen and (min-width:1200px) {
  html {
    font-size: 15px
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  line-height: 1.3
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  font-weight: inherit
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 .912rem 0
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 .656rem 0
}

h6 {
  font-size: 1.15rem;
  line-height: 110%;
  margin: .7666666667rem 0 .46rem 0
}

em {
  font-style: italic
}

strong {
  font-weight: 500
}

small {
  font-size: 75%
}

.light {
  font-weight: 300
}

.thin {
  font-weight: 200
}

.scale-transition {
  -webkit-transition: -webkit-transform .3s cubic-bezier(0.53,0.01,0.36,1.63)!important;
  transition: -webkit-transform .3s cubic-bezier(0.53,0.01,0.36,1.63)!important;
  transition: transform .3s cubic-bezier(0.53,0.01,0.36,1.63)!important;
  transition: transform .3s cubic-bezier(0.53,0.01,0.36,1.63),-webkit-transform .3s cubic-bezier(0.53,0.01,0.36,1.63)!important
}

.scale-transition.scale-out {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .2s!important;
  transition: -webkit-transform .2s!important;
  transition: transform .2s!important;
  transition: transform .2s,-webkit-transform .2s!important
}

.scale-transition.scale-in {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.card-panel {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s,-webkit-box-shadow .25s;
  padding: 0 1em 0 1em;
  margin: .5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff
}

.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s,-webkit-box-shadow .25s;
  border-radius: 2px
}

.card .card-title {
  font-size: 24px;
  font-weight: 300
}

.card .card-title.activator {
  cursor: pointer
}

.card.small,.card.medium,.card.large {
  position: relative
}

.card.small .card-image,.card.medium .card-image,.card.large .card-image {
  max-height: 60%;
  overflow: hidden
}

.card.small .card-image+.card-content,.card.medium .card-image+.card-content,.card.large .card-image+.card-content {
  max-height: 40%
}

.card.small .card-content,.card.medium .card-content,.card.large .card-content {
  max-height: 100%;
  overflow: hidden
}

.card.small .card-action,.card.medium .card-action,.card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0
}

.card.small {
  height: 300px
}

.card.medium {
  height: 400px
}

.card.large {
  height: 500px
}

.card.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.card.horizontal.small .card-image,.card.horizontal.medium .card-image,.card.horizontal.large .card-image {
  height: 100%;
  max-height: none;
  overflow: visible
}

.card.horizontal.small .card-image img,.card.horizontal.medium .card-image img,.card.horizontal.large .card-image img {
  height: 100%
}

.card.horizontal .card-image {
  max-width: 50%
}

.card.horizontal .card-image img {
  border-radius: 2px 0 0 2px;
  max-width: 100%;
  width: auto
}

.card.horizontal .card-stacked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative
}

.card.horizontal .card-stacked .card-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.card.sticky-action .card-action {
  z-index: 2
}

.card.sticky-action .card-reveal {
  z-index: 1;
  padding-bottom: 64px
}

.card .card-image {
  position: relative
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px
}

.card .card-content p {
  margin: 0
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px
}

.card .card-content .card-title i {
  line-height: 32px
}

.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 16px 24px
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6
}

.card .card-reveal {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none
}

.card .card-reveal .card-title {
  cursor: pointer;
  display: block
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000
}

@media only screen and (max-width:600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0
  }
}

@media only screen and (min-width:601px) and (max-width:992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%
  }
}

@media only screen and (min-width:993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%
  }
}

.material-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  background-color: transparent;
  border-radius: 2px;
  color: #fff;
  min-height: 36px;
  line-height: 120%;
  opacity: 0;
  position: absolute;
  text-align: center;
  max-width: calc(100% - 4px);
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: #323232
}

.backdrop {
  position: absolute;
  opacity: 0;
  height: 7px;
  width: 14px;
  border-radius: 0 0 50% 50%;
  background-color: #323232;
  z-index: -1;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  visibility: hidden
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 100px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2)
}

.dropdown-content:focus {
  outline: 0
}

.dropdown-content li {
  clear: both;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  background-color: #eee
}

.dropdown-content li:hover,.dropdown-content li.active {
  background-color: #eee
}

.dropdown-content li:focus {
  outline: 0
}

.dropdown-content li.divider {
  min-height: 0;
  height: 1px
}

.dropdown-content li>a,.dropdown-content li>span {
  font-size: 16px;
  display: block;
  line-height: 22px;
  padding: 14px 16px
}

.dropdown-content li>span>label {
  top: 1px;
  left: 0;
  height: 18px
}

.dropdown-content li>a>i {
  height: inherit;
  line-height: inherit;
  float: left;
  margin: 0 24px 0 0;
  width: 24px
}

body.keyboard-focused .dropdown-content li:focus {
  background-color: #dadada
}

.input-field.col .dropdown-content [type="checkbox"]+label {
  top: 1px;
  left: 0;
  height: 18px;
  -webkit-transform: none;
  transform: none
}

.dropdown-trigger {
  cursor: pointer
}/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */.waves-effect {
      position: relative;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      vertical-align: middle;
      z-index: 1;
      -webkit-transition: .3s ease-out;
      transition: .3s ease-out
    }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0,0,0,0.2);
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255,255,255,0.45)
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244,67,54,0.7)
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255,235,59,0.7)
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255,152,0,0.7)
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156,39,176,0.7)
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76,175,80,0.7)
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0,150,136,0.7)
}

.waves-effect input[type="button"],.waves-effect input[type="reset"],.waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: 0
}

.waves-effect img {
  position: relative;
  z-index: -1
}

.waves-notransition {
  -webkit-transition: none!important;
  transition: none!important
}

.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle,white 100%,black 100%)
}

.waves-input-wrapper {
  border-radius: .2em;
  vertical-align: bottom
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none
}

.waves-block {
  display: block
}

.waves-effect .waves-ripple {
  z-index: -1
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top,opacity
}

.modal:focus {
  outline: 0
}

@media only screen and (max-width:992px) {
  .modal {
    width: 80%
  }
}

.modal h1,.modal h2,.modal h3,.modal h4 {
  margin-top: 0
}

.modal .modal-content {
  padding: 24px
}

.modal .modal-close {
  cursor: pointer
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right
}

.modal .modal-footer .btn,.modal .modal-footer .btn-large,.modal .modal-footer .btn-small,.modal .modal-footer .btn-flat {
  margin: 6px 0
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  bottom: 0
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom,opacity
}

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: .5rem 0 1rem 0
}

.collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 0 0 0 2em;
  background-color: #fff;
  border-bottom: 1px solid #ddd
}

.collapsible-header:focus {
  outline: 0
}

.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem
}

.keyboard-focused .collapsible-header:focus {
  background-color: #eee
}

.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem
}

.sidenav .collapsible,.sidenav.fixed .collapsible {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}

.sidenav .collapsible li,.sidenav.fixed .collapsible li {
  padding: 0
}

.sidenav .collapsible-header,.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: 0;
  line-height: inherit;
  height: inherit;
  padding: 0 16px
}

.sidenav .collapsible-header:hover,.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0,0,0,0.05)
}

.sidenav .collapsible-header i,.sidenav.fixed .collapsible-header i {
  line-height: inherit
}

.sidenav .collapsible-body,.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff
}

.sidenav .collapsible-body li a,.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px
}

.collapsible.popout {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}

.collapsible.popout>li {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0 24px;
  -webkit-transition: margin .35s cubic-bezier(0.25,0.46,0.45,0.94);
  transition: margin .35s cubic-bezier(0.25,0.46,0.45,0.94)
}

.collapsible.popout>li.active {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  margin: 16px 0
}

.materialboxed {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden
}

.materialboxed:hover:not(.active) {
  opacity: .8
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out
}

#materialbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #292929;
  z-index: 1000;
  will-change: opacity
}

.materialbox-caption {
  position: fixed;
  display: none;
  color: #fff;
  line-height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 15%;
  height: 50px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased
}

select:focus {
  outline: 1px solid #c9f3ef
}

button:focus {
  outline: 0;
  background-color: #2ab7a9
}

label {
  font-size: .8rem;
  color: #9e9e9e
}

textarea {
  width: 100%;
  height: 3rem;
  background-color: transparent
}

textarea.materialize-textarea {
  line-height: normal;
  overflow-y: hidden;
  padding: .8rem 0 .8rem 0;
  resize: none;
  min-height: 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.hiddendiv {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-top: 1.2rem;
  position: absolute;
  top: 0;
  z-index: -1
}

[type="checkbox"]:not(:checked),[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none
}

[type="checkbox"]+span:not(.lever) {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

[type="checkbox"]+span:not(.lever):before,[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: .2s;
  transition: .2s
}

[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: 0;
  -webkit-transform: scale(0);
  transform: scale(0)
}

[type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
  border: 0;
  background-color: rgba(0,0,0,0.42)
}

[type="checkbox"].tabbed:focus+span:not(.lever):after {
  -webkit-transform: scale(1);
  transform: scale(1);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1)
}

[type="checkbox"]:checked+span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

[type="checkbox"]:checked:disabled+span:before {
  border-right: 2px solid rgba(0,0,0,0.42);
  border-bottom: 2px solid rgba(0,0,0,0.42)
}

[type="checkbox"]:indeterminate+span:not(.lever):before {
  top: -11px;
  left: -12px;
  width: 10px;
  height: 22px;
  border-top: 0;
  border-left: none;
  border-right: 2px solid #26a69a;
  border-bottom: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

[type="checkbox"]:indeterminate:disabled+span:not(.lever):before {
  border-right: 2px solid rgba(0,0,0,0.42);
  background-color: transparent
}

[type="checkbox"].filled-in+span:not(.lever):after {
  border-radius: 2px
}

[type="checkbox"].filled-in+span:not(.lever):before,[type="checkbox"].filled-in+span:not(.lever):after {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s,background-color .25s,width .20s .1s,height .20s .1s,top .20s .1s,left .20s .1s;
  transition: border .25s,background-color .25s,width .20s .1s,height .20s .1s,top .20s .1s,left .20s .1s;
  z-index: 1
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0;
  z-index: 0
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #26a69a;
  background-color: #26a69a;
  z-index: 0
}

[type="checkbox"].filled-in.tabbed:focus+span:not(.lever):after {
  border-radius: 2px;
  border-color: #5a5a5a;
  background-color: rgba(0,0,0,0.1)
}

[type="checkbox"].filled-in.tabbed:checked:focus+span:not(.lever):after {
  border-radius: 2px;
  background-color: #26a69a;
  border-color: #26a69a
}

[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever):before {
  background-color: transparent;
  border: 2px solid transparent
}

[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever):after {
  border-color: transparent;
  background-color: #949494
}

[type="checkbox"].filled-in:disabled:checked+span:not(.lever):before {
  background-color: transparent
}

[type="checkbox"].filled-in:disabled:checked+span:not(.lever):after {
  background-color: #949494;
  border-color: #949494
}

.switch,.switch * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.switch label {
  cursor: pointer
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #84c7c1
}

.switch label input[type=checkbox]:checked+.lever:before,.switch label input[type=checkbox]:checked+.lever:after {
  left: 18px
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #26a69a
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: rgba(0,0,0,0.38);
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
  margin: 0 16px
}

.switch label .lever:before,.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: left .3s ease,background .3s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  transition: left .3s ease,background .3s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  transition: left .3s ease,background .3s ease,box-shadow .1s ease,transform .1s ease;
  transition: left .3s ease,background .3s ease,box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease
}

.switch label .lever:before {
  background-color: rgba(38,166,154,0.15)
}

.switch label .lever:after {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0 rgba(0,0,0,0.14),0px 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0 rgba(0,0,0,0.14),0px 1px 5px 0 rgba(0,0,0,0.12)
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(38,166,154,0.15)
}

input[type=checkbox]:not(:disabled) ~ .lever:active:before,input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(0,0,0,0.08)
}

.switch input[type=checkbox][disabled]+.lever {
  cursor: default;
  background-color: rgba(0,0,0,0.12)
}

.switch label input[type=checkbox][disabled]+.lever:after,.switch label input[type=checkbox][disabled]:checked+.lever:after {
  background-color: #949494
}

select {
  display: none
}

select.browser-default {
  display: block
}

select {
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem
}

.select-label {
  position: absolute
}

.select-wrapper {
  position: relative
}

.select-wrapper.valid+label,.select-wrapper.invalid+label {
  width: 100%;
  pointer-events: none
}

.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #9e9e9e;
  outline: 0;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #2f2f2f
}

.select-wrapper .caret {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
  fill: rgba(0,0,0,0.87)
}

.select-wrapper+label {
  position: absolute;
  top: -26px;
  font-size: .8rem
}

select:disabled {
  color: rgba(0,0,0,0.42)
}

.select-wrapper.disabled+label {
  color: rgba(0,0,0,0.42)
}

.select-wrapper.disabled .caret {
  fill: rgba(0,0,0,0.42)
}

.select-wrapper input.select-dropdown:disabled {
  color: rgba(0,0,0,0.42);
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.select-wrapper i {
  color: rgba(0,0,0,0.3)
}

.select-dropdown li.disabled,.select-dropdown li.disabled>span,.select-dropdown li.optgroup {
  color: rgba(0,0,0,0.3);
  background-color: transparent
}

.select-dropdown.dropdown-content li.selected {
  background-color: #e0e0e0
}

.prefix ~ .select-wrapper {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem)
}

.prefix ~ label {
  margin-left: 3rem
}

.select-dropdown li img {
  height: 40px;
  width: 40px;
  margin: 5px 15px;
  float: right
}

.select-dropdown li.optgroup {
  border-top: 1px solid #eee
}

.select-dropdown li.optgroup.selected>span {
  color: rgba(0,0,0,0.7)
}

.select-dropdown li.optgroup>span {
  color: rgba(0,0,0,0.4)
}

.select-dropdown li.optgroup ~ li.optgroup-option {
  padding-left: 1rem
}

.range-field {
  position: relative
}

input[type=range],input[type=range]+.thumb {
  cursor: pointer
}

input[type=range] {
  position: relative;
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  margin: 15px 0;
  padding: 0
}

input[type=range]:focus {
  outline: 0
}

input[type=range]+.thumb {
  position: absolute;
  top: 10px;
  left: 0;
  border: 0;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: #26a69a;
  margin-left: 7px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

input[type=range]+.thumb .value {
  display: block;
  width: 30px;
  text-align: center;
  color: #26a69a;
  font-size: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

input[type=range]+.thumb.active {
  border-radius: 50% 50% 50% 0
}

input[type=range]+.thumb.active .value {
  color: #fff;
  margin-left: -1px;
  margin-top: 8px;
  font-size: 10px
}

input[type=range] {
  -webkit-appearance: none
}

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #c2c0c2;
  border: 0
}

input[type=range]::-webkit-slider-thumb {
  border: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #26a69a;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s,-webkit-box-shadow .3s;
  -webkit-appearance: none;
  background-color: #26a69a;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin: -5px 0 0 0
}

.keyboard-focused input[type=range]:focus:not(.active)::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 10px rgba(38,166,154,0.26);
  box-shadow: 0 0 0 10px rgba(38,166,154,0.26)
}

input[type=range] {
  border: 1px solid white
}

input[type=range]::-moz-range-track {
  height: 3px;
  background: #c2c0c2;
  border: 0
}

input[type=range]::-moz-focus-inner {
  border: 0
}

input[type=range]::-moz-range-thumb {
  border: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #26a69a;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s,-webkit-box-shadow .3s;
  margin-top: -5px
}

input[type=range]:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px
}

.keyboard-focused input[type=range]:focus:not(.active)::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(38,166,154,0.26)
}

input[type=range]::-ms-track {
  height: 3px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent
}

input[type=range]::-ms-fill-lower {
  background: #777
}

input[type=range]::-ms-fill-upper {
  background: #ddd
}

input[type=range]::-ms-thumb {
  border: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #26a69a;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s,-webkit-box-shadow .3s
}

.keyboard-focused input[type=range]:focus:not(.active)::-ms-thumb {
  box-shadow: 0 0 0 10px rgba(38,166,154,0.26)
}

.pulse {
  overflow: visible;
  position: relative
}

.pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,transform .3s;
  transition: opacity .3s,transform .3s,-webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24,0,0.38,1) infinite;
  animation: pulse-animation 1s cubic-bezier(0.24,0,0.38,1) infinite;
  z-index: -1
}

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
}
